@charset "utf-8";

body {
	background-color:#111;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1 {
	color: #343;
	text-align: center;
	font-size: 36px;
}

h2 {
	color: #44b;
	text-align: center;
	font-size: 24px;
}

p {
	font-size: 16px;
	text-align: center;
}

.uitext {
	font-size: 20px;
	margin: 10px 10px 10px 10px;
}

.healthlabel { color: #700; }
#health { color: #811; }

.potionslabel { color: #603; }
#potions { color: #704; }

.torchlabel { color: #630; }
#torch { color: #741; }

.torcheslabel { color: #540; }
#torches { color: #651; }

header {
	height: 100px;
	margin: 0 auto;
	text-align: center;
}

.infobox {
	color: gray;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	padding: 15px;
}

#fpscounter {
	position: absolute;
	top: 10px;
	left: 10px;
}

#messagesbox {
	position: absolute;
	top: 100px;
	left: 10px;
	font-size: 12pt;
}

#help {
	position: absolute;
	top: 100px;
	right: 10px;
}

#glinfo {
	margin: 0 auto;
}

#mapoverlay {
	position: absolute;
	top: 100px;
	left: 50%;
	width: 340px;
	margin-left: -170px;
	font-size: 10pt;
	line-height: 105%;
}

#titlescreen {
	position: absolute;
	top: 150px;
	left: 50%;
	width: 340px;
	margin-left: -170px;
	font-size: 14pt;
}

#titlescreen strong { color: #744; }

#game {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

#gameover, #win { color: gray; height: 500px; }
#gameover h1 { color: #f00; }
#win h1 { color: #080; }

form {
	text-align: center;
}

input[type=button] {
	color: #fff;
	background-color: #333;
	border-color: #555;
	display: inline-block;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	font-weight: bold;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

footer {
	height: 25px;
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

.copyright {
	color: #111;
}
